################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
_ReSharper.*
bin
obj
packages
*.db
/.vs/Toggler/v15/Server/sqlite3
*.dtbcache
